/* ==========================================================================
   Text related mixins
   ========================================================================== */

/**
 * Variables
 *
 * Usually it is good to override these.
 *
 * 1. Should we use rem-based font-size? Defaults to 'false'.
 * 2. Base 'font-size' of your app, defaults to '14px'.
 * 3. Base 'line-height' of your app, defaults to '20px'.
 */

$bits-use-rem: false !default; /* 1 */

$bits-base-font-size: 14px !default; /* 2 */
$bits-base-line-height: 20px !default; /* 3 */

/**
 * Sets font size while ensuring proper vertical rhythm using single value
 *
 * 1. IE8 fallback font-size value
 * 2. Calculate font-size value in rem
 * 3. Ensure proper vertical rhythm by setting line-height to a multiple of your
 *    base line-height. Thanks to @redclov3r for this part.
 *    See http://jsfiddle.net/redclover/mkYtY.
 *
 * -------------
 * Example uses:
 *
 * $bits-base-line-height: 20px;
 *
 * .example1 {                     ->    .example1 {
 *   @include font-size(14px);     ->      font-size: 14px;
 * }                               ->      line-height: 20px;
 *                                 ->    }
 *
 * .example2 {                     ->    .example2 {
 *   @include font-size(24px);     ->      font-size: 24px;
 * }                               ->      line-height: 40px;
 *                                 ->    }
 *
 * .example3 {                     ->    .example3 {
 *   @include font-size(36px);     ->      font-size: 36px;
 * }                               ->      line-height: 40px;
 *                                 ->    }
 */

@mixin font-size($font-size, $line-height: true) {
  font-size: $font-size; /* 1 */

  @if $bits-use-rem == true {
    font-size: ($font-size / $bits-base-font-size) * 1rem; /* 2 */
  }

  @if $line-height == true {
    line-height: ceil($font-size / $bits-base-line-height) * ($bits-base-line-height / $font-size); /* 3 */
  }
}